.item{        
    width: calc($index * 3);
    height: calc($index * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    transition: transform 1.2s $transition, 
                filter 3s $transition, 
                width 1.25s $transition;
    will-change: transform, filter, rotateY, width;
    &::before,
    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 20px;
        right: calc($index * -1);
    }
    &::after{
        left: calc($index * -1);
    }
    /* &:hover{
        filter: inherit;
        transform: translateZ(calc($index * 10));
    }
    &:hover + *{
        filter: inherit;
        transform: translateZ(calc($index * 8.5)) rotateY(35deg);
        z-index: -1;
    }
    &:hover + * + *{
        filter: inherit;
        transform: translateZ(calc($index * 5.6)) rotateY(40deg);
        z-index: -2;
    }
    &:hover + * + * + *{
        filter: inherit;
        transform: translateZ(calc($index * 2.5)) rotateY(30deg);
        z-index: -3;
    }
    &:hover + * + * + * + *{
        filter: inherit;
        transform: translateZ(calc($index * 0.6)) rotateY(15deg);
        z-index: -4;
    }
    &:has(+ :hover){
        filter: inherit;
        transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
    }
    &:has(+ * + :hover){
        filter: inherit;
        transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
    }
    &:has(+ * + * + :hover){
        filter: inherit;
        transform: translateZ(calc($index * 2.5)) rotateY(-30deg);
    }
    &:has(+ * + * + * + :hover){
        filter: inherit;
        transform: translateZ(calc($index * 0.6)) rotateY(-15deg);
    } */
    &:active, 
    &:focus{
        width: 20vw;
        background-size: contain;
        background-repeat: no-repeat;
        filter: inherit;
        z-index: 100;
        transform: translateZ(calc($index * 10));
        margin: 0 0.45vw;
        background-color: transparent;
    }
}

/// SOLUÇÂO

.item.hovered, .hover-temp {
    //margin-left: -1px;
    //margin-right: -1px;
    filter: inherit;
    transform: translateZ(calc($index * 10));
}

.item.adjacent-hovered-left-1{
    filter: inherit;
    transform: translateZ(calc($index * 8.5)) rotateY(-35deg);
}
.item.adjacent-hovered-left-2{
    filter: inherit;
    transform: translateZ(calc($index * 5.6)) rotateY(-40deg);
}
.item.adjacent-hovered-left-3{
    filter: inherit;
    transform: translateZ(calc($index * 2.5)) rotateY(-30deg);
}
.item.adjacent-hovered-left-4{
    filter: inherit;
    transform: translateZ(calc($index * 0.6)) rotateY(-15deg);
}

// Estilos para os itens à direita 
.item.adjacent-hovered-right-1 {
    filter: inherit;
    transform: translateZ(calc($index * 8.5)) rotateY(35deg);
}

.item.adjacent-hovered-right-2 {
    filter: inherit;
    transform: translateZ(calc($index * 5.6)) rotateY(40deg);
}

.item.adjacent-hovered-right-3 {
    filter: inherit;
    transform: translateZ(calc($index * 2.5)) rotateY(30deg);
}

.item.adjacent-hovered-right-4 {
    filter: inherit;
    transform: translateZ(calc($index * 0.6)) rotateY(15deg);
}